
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">


    <link rel="stylesheet" href="{% static 'css/register.css' %}">

    <link rel="stylesheet" href="{% static 'css2/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

    <style>
      

.form-label{
    color: gray;
    font-weight:700;
}

.form-control{
    border-color: transparent;
    border-bottom-color: gray;
    border-radius: 0%;
    color: gray;
    /* background-color: transparent; */
    
}

.form-input{
    border-color: transparent;
    border-bottom-color: gray;
    border-radius: 0%;
    color: gray;
    background-color: transparent;

}

    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">

            {% include 'main.html' %} 
          
            <div class="col-md-9">
             
                    {% include 'manual.html' %} 
                
            </div>
        </div>
    </div>


</body>

</html>